:root {
    --primari-tex-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #404BBF;
    --contact-color: #434455;
    --butoon-color: #E7E9FC;
    --butoon-background-color: #F4F4FD;
    --button-text-color: #4D5AE5;
    --text-btn-color: #FFF;



}

body {
    background: #FFF;
    color: #434455;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/*.link {
    text-decoration: none;
} ====HEADER==== */
.logo {
    color: var(--accent-color);
    font-family: Raleway;
    sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo:hover,
.logo:focus {
    color: #404BBF;
}

.menu-link {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;

}

.company-name {
    color: var(--title-text-color);
    font-family: Raleway;
    sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.company-name:hover,
.company-name:focus {
    color: #404BBF;
}

.menu-link {
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

/* ====ADDRESS=== */
.contact-mail {
    color: var(--primari-tex-color);
    font-family: Roboto;
    sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.contact-mail:hover,
.contact-mail:focus {
    color: #404BBF;
}

.contact-phone {
    color: var(--contact-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.contact-phone:hover,
.contact-phone:focus {
    color: #404BBF;
}

.header-address {
    font-style: normal;
}


/* ====/ADDRESS=== */
/* ====/HEADER==== */


/* ====== SECTION 1 =====*/
.modal-btn {
    border-radius: 4px;
    border: 1px solid var(--butoon-color);
    background: var(--butoon-background-color);
    color: var(--button-text-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.modal-btn:hover,
.modal-btn:focus {
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

    color: var(--text-btn-color);
    text-align: center;
    font-family: Roboto;
    sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.modal-button {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

/* ====== /SECTION 1 =====*/
/* ======SECTION 2====== */
.section-title .list {
    list-style: none;
}

.name-pic {
    color: var(--title-text-color);
    font-family: Roboto;
    sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.desc {
    color: var(--primari-tex-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* ====== /SECTION 2 ====*/

/* =====FOOTER==== */
.footer-blok {
    background: var(--title-text-color);
}

.name-footer {
    color: var(--butoon-background-color);
    font-family: Raleway;
    sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.name-footer:hover,
.name-footer:focus {
    color: #404BBF;
}

.text-description {
    color: var(--butoon-background-color);
    font-family: Roboto;
    sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* =====/FOOTER==== */